@import 'tailwindcss';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #243e87;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #132a69;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceSlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

.bounce-slow {
  animation: bounceSlow 2s infinite;
}
